<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--cdn axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!--cdn fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/style.css">
    <title>BoolFlix</title>
</head>
<body>
    
    <div id="root">

        <header>
            <!--LOGO IMG-->
            <a href="" class="logo">
                <img src="img/netflix.jpg" alt="logo">
            </a>

            <!--INPUT E BUTTON-->
            <label for="">
                <input v-model="titolo" class="input-ricerca" type="text" placeholder="Cerca Film o Serie Tv">
                <button @click="cerca(titolo)">cerca</button>
                <i class="fas fa-bell"></i>
                <i class="fas fa-sliders-h"></i>
            </label>       
        </header>


        <div class="wrapper">
            
            <div class="lista">

                <div v-if="visible">
                    <h2>Popolari in questo momento</h2>
                    <div class="container">
                        <a v-for="film in popularFilm.slice(0, 5)" href="#animals" class="item"><img :src="imgPathTwo + film.poster_path"></a>
                    </div>
                </div>

                <!--Inizio Single List-->
                <div v-for="movie in movies" class="single-list">
                    <div class="wrapper-single-list">
                        <ul>
                            <li>
                                <div class="immagine">
                                    <img :src="imgPath + movie.poster_path" alt="Immagine risultato">
                                    <span class="overlay">
                                        <h2>{{movie.title}}</h2>
                                        <h4>{{movie.original_title}}</h4>
                                        <h4 v-if="movie.flag == 1">
                                            <img class="flag-image" src="img/enFlag.webp" alt="flag">
                                        </h4>
                            
                                        <h4>
                                            <!--gestisco le stelle, stamperò il numero di stelle ricavate dalla funzione Math.ceil-->
                                            <i class="fas fa-star yellow" v-for="star in stars(movie.vote_average)"></i>
                                        </h4>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--FIne single List-->

            </div>
        </div>

    </div>

    <!--cdn vue e directory js-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
</body>
</html>